<!DOCTYPE html>
<html>
<head>
   
   <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="blog.css">
</head>
<body>
<section id="gear">
    <div id="articles">
    
    
      <article plangular data-src="" class="work grid1 clearfix">
        <div class="thumb" style="background-image:url('images/hands.png');">
          <div class="centered">
                          
                          <a href="http://mondaymusic.es/en/the-perfect-protein/" class="ajax" ng-click="player.pause()">READ</a>
              
          </div>
        </div>
        
        
        <aside>
        <div class="description">
          <div class="title">When your hands don't do what you want them to do.</div>
          <div class="for"><span>Technique</span>
                                             
          </div>
          <div class="texto">
            <div class="min_border_black"></div>
            <p>While all have issues playing the guitar, we all think these issues are different from everyone else’s, but they aren’t. It usually comes down to one of two things; the left hand, or the right hand. Today, we’re going to focus on that left hand and develop some good left hand technique.</p>
            <div class="min_border_black"></div>
          </div>
          <div class="time">                           
          </div>
        </div>
        <div class="arrow">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
<rect x="4.861" y="4.063" transform="matrix(0.7071 0.7071 -0.7071 0.7071 14.9681 -6.3024)" width="20.461" height="21.706"/>
</svg>
        </div>
        </aside>
        </article>

      
      <article plangular data-src="https://soundcloud.com/mondaymusicproducers/marcilla-noticia-monday-music" class="work grid2 clearfix">
        <div class="thumb" style="background-image:url('images/apps.png');">
          <div class="centered">
                          
                          <a href="http://mondaymusic.es/en/el-aroma-que-nos-une/" class="ajax" ng-click="player.pause()">READ</a>
              
          </div>
        </div>
        
        
        <aside>
        <div class="description">
          <div class="title">The best guitar apps for your phone.</div>
          <div class="for"><span>news</span>                  
          </div>
          <div class="texto">
            <div class="min_border_black"></div>
            <p>There’s a lot of apps out there for smartphone’s and tablet’s. And if your a guitar player, there’s a lot of really cool apps out there for your phone and tablet, all available with the touch of your finger.</p>
            <div class="min_border_black"></div>
          </div>
          <div class="time">                
          </div>
        </div>
        <div class="arrow">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
<rect x="4.861" y="4.063" transform="matrix(0.7071 0.7071 -0.7071 0.7071 14.9681 -6.3024)" width="20.461" height="21.706"/>
</svg>
        </div>
        </aside>
        </article>

      
      <article plangular data-src="" class="work grid1 clearfix">
        <div class="thumb" style="background-image:url('images/tuner.png');">
          <div class="centered">
                          
                          <a href="http://mondaymusic.es/en/great-moments-in-life/" class="ajax" ng-click="player.pause()">READ</a>
              
          </div>
        </div>
        
        
        <aside>
        <div class="description">
          <div class="title">Tuners</div>
          <div class="for"><span>Review</span>                  
          </div>
          <div class="texto">
            <div class="min_border_black"></div>
            <p>Is your guitar out of tune and your miles away from someone who can tune it?  Just can’t figure out how to keep in tune with other people?  You need a tuner, but there’s so many choices out there?  Which kind do I get?  Where do I get it?  Well, don’t get frustrated, here’s some tips.</p>
            <div class="min_border_black"></div>
          </div>
          <div class="time">             
          </div>
        </div>
        <div class="arrow">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
<rect x="4.861" y="4.063" transform="matrix(0.7071 0.7071 -0.7071 0.7071 14.9681 -6.3024)" width="20.461" height="21.706"/>
</svg>
        </div>
        </aside>
        </article>

</body>
</html>